.color {
  color: #6236ff;
  color: #ff00aa;
  color: #13111a;
  color: #1d1a27;
  color: #5e5b71;
}
.radialGradientOne{
background: radial-gradient(#6236ff, transparent);
}

.radialGradientTwo{
background: radial-gradient(#ff00aa, transparent);
}

.conicGradient {
  background: conic-gradient(
    rgb(98, 54, 255) 0deg,
    rgb(206, 77, 164) 40deg,
    transparent 80deg
  );
}

.animateRound {
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.boxD {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
  z-index: -3;
}
.boxD::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    rgb(98, 54, 255) 0deg,
    rgb(206, 77, 164) 40deg,
    transparent 80deg
  );
  animation: animate 4s linear infinite;
  z-index: -2;
}

.boxD::after {
  position: absolute;
  content: "";
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: black;
  z-index: -1;
}
